.photo {
    position: relative;
}
.picture {
    width: 900px;
    height: 491px;
    padding: 30px;
    margin: 15px;
}
.text-on-picture{
    position: absolute;

    bottom: 150px;
    left: 250px;
    margin: 100px;
    padding: 50px
}
.text-on-picture1{
    padding: 150px;
    font-size: 35px;
    color: #FFFAFA;
}
.mega{
    margin: 95px 85px 50px 44px;
}
img{
    width: 694px;
}
h1{
    font-size: 40px;
    padding-right: 165px;
}
.container{
    height: 462.5px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}
.send{
    background: none;
    background-color: #103ADA;
    padding: 8px 40px;
    color: white;
}
.group-count{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 40px;
}
.interested-in{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 40px;
}
textarea{
    width: 100%;
    resize: none;
    height: 185px;
    margin-top: 20px;
}
.ateg{
    margin-top: 50px;
}
.date{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #707070;
    height: 40px;
}
.label1{
    padding-top: 35px;
    font-size: 24px;
    color: #707070;
}
.label2{
     font-size: 24px;
    color: #707070;
}
h3{
    font-size: 24px;
    color: #707070;
    margin:20px auto;
}
.contacts{
    color: #707070;
    padding-top: 10px;
}
.clock{
    color: #707070;
    padding-top: 10px;
}
.last{
    font-size: 24px;
    color: #707070;
    margin:20px auto;
}